<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>Pig Flix</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/pig.png') }}" alt="Logo de Pig Flix">
                <h1>Pig Flix</h1>
            </a>
        </div>
        <div>
            <input type="button" value="Adicionar filmes" onclick="add_movie()">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="title" id="title" placeholder="Digite o filme que procura">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </header>
    <main class="add_movie">
        <form action="/save" method="post">
            <label for="title">Título:</label>
            <input type="text" name="title" id="title">
            <label for="cover_img">Imagem de capa:</label>
            <input type="text" name="cover_img" id="cover_img">
            <label for="launch_date">Data de lançamento:</label>
            <input type="text" name="launch_date" id="launch_date" placeholder="ex: 1990">
            <label for="url">Link:</label>
            <input type="text" name="url" id="url" placeholder="ex: https://www.youtube.com/watch?v=>>>>>C7akTOA5WqQ<<<<<">
            <input type="submit" value="Adicionar">
        </form>
    </main>
    <footer class="footer">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/pig.png') }}" alt="Logo de Pig Flix">
                <p>Pig Flix</p>
            </a>
    </footer>
</body>
</html>