<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>Pig Flix</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/pig.png') }}" alt="Logo de Pig Flix">
                <h1>Pig Flix</h1>
            </a>
        </div>
        <div>
            <input type="button" value="Adicionar filmes" onclick="add_movie()">
            <input type="text" placeholder="Digite o filme que procura">
        </div>
    </header>
    <main class="error">
        <h1>Erro 404</h1>
        <p>Página não encontrada</p>
    </main>
    <footer class="footer">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/pig.png') }}" alt="Logo de Pig Flix">
            <p>Pig Flix</p>
        </a>
    </footer>
    <script>
        function add_movie() {
            window.location.href = "/add_movie";
        }
    </script>
</body>
</html>